oving1/.vscode/
oving1/a
oving1/b

oving2/.vscode/
oving2/task1
oving2/task4
oving2/task5
oving2/task6

oving3/.vscode/
oving3/task2
oving3/task3
oving3/task4

oving4/.vscode/
oving4/task1
oving4/task2

oving5/.vscode/
oving5/task1
oving5/task2

oving6/.vscode/
oving6/build/
oving6/task1

oving7/.vscode/
oving7/build/

oving8/.vscode/
oving8/task1
oving8/pair

oving9/.vscode/
oving9/oving9

oving10/build

playground/
